*__pycache__*
*.ipynb_checkpoints*
*.pytest_cache*
.pytest_cache*
.cache
.coverage*
tests/experiments/
tests/test_data/test_dataset_batches/

*.batch
*.dict
*.bin
*.json
*.log
*.
*batches/

*.vw
*.csv
*.tar.gz
*.tgz
*.zip

*.orig
*.swp
*.pyc

bigartm*

.idea/
