language: python

cache:
  directories:
    - $HOME/.ccache

python:
  - "3.7"

env:
  global:
    # variables for caching
    - CCACHE_DIR=$HOME/.ccache
    - CCACHE_COMPILERCHECK=content
    - CCACHE_COMPRESS=true
    - CCACHE_NODISABLE=true
    - CCACHE_MAXSIZE=500M
  matrix:
    - GCC_VER=4.8

before_install:
  # we need latest pip to work with only-binary option
  - pip install -U pip
  - pip install -U pytest pep8 wheel pytest-forked
  - pip install -U numpy scipy pandas tqdm --only-binary numpy,scipy,pandas
  - pip install -U protobuf
  - pip install -r requirements.txt

install:
  # - pushd python && python setup.py install && popd

script:
  - cd topicnet
  - py.test tests --timeout=45 --reruns 3 --reruns-delay 3 --cov

after_success:
  - codecov

